amqp==5.2.0
asgiref==3.8.1
async-timeout==4.0.3
backports.entry-points-selectable==1.1.1
billiard==4.2.0
celery==5.4.0
certifi==2021.10.8
charset-normalizer==2.0.9
click==8.1.7
click-didyoumean==0.3.1
click-plugins==1.1.1
click-repl==0.3.0
colorama==0.4.6
distlib==0.3.4
Django==5.1.1
django-celery-results==2.5.1
djangorestframework==3.15.2
filelock==3.4.0
idna==3.3
kombu==5.4.1
pipenv==2021.11.23
platformdirs==2.4.0
prompt_toolkit==3.0.47
python-dateutil==2.9.0.post0
redis==5.0.8
requests==2.26.0
six==1.16.0
sqlparse==0.4.2
typing_extensions==4.12.2
tzdata==2024.1
urllib3==1.26.7
vine==5.1.0
virtualenv==20.10.0
virtualenv-clone==0.5.7
wcwidth==0.2.13
